<!DOCTYPE html>
<head>
{% load staticfiles %}


<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'ufc/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'ufc/css/base.css' %}" />

	<style>
		body { font: 12px Arial; }

		path { 
			stroke: stellblue;
			stroke-width: 2;
			fill: none;
		}

		.axis path, .axis line {
			fill: none;
			stroke: grey;
			stroke-width: 1;
			shape-rendering: crispEdges;
		}
	</style>



</head>

<body>

<div class="container">
	
	{% block header_text %}{% endblock %}

	{% block body_text %}{% endblock %}



	{% block footer_text %}{% endblock %}


</div>

<script type="text/javascript" src="{% static 'ufc/js/d3.js' %}"></script>
<script type="text/javascript" src="{% static 'ufc/js/jquery-2.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'ufc/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ufc/js/ufc.js' %}"></script>

{% block d3 %}{% endblock %}

</body>