{% extends 'ufc/base.html' %}

{% load staticfiles %}

{% block header_text %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3 jumbotron">
			<div class="text-center">
            	<h1>UFC Fighter Record Map</h1>
            </div>
	</div>

	<div class="row">

		<div class="col-md-6">

			<h1>Python Scraper for UFC Fighters</h1>

			{{fighter_list}}

		</div>

		<div class="col-md-6">
			
		</div>

	</div>

{% endblock %}

{% block body_text %}

	<div class="row">

		<h4 id="searchBox">Search for a fighter</h4>

		<form action="/" method="POST" class="text-center">
			{% csrf_token %}
			<label>First Name</label>
			<input id="firstName" class="input-lg" type="text" name="firstName" placeholder="Enter first name"/>

			<label>Surname Name</label>
			<input id="surname" class="input-lg" type="text" name="surname" placeholder="Enter surname"/>

			<label for="search-button"></label>
			<input id="search-button" class="input-lg" value="search" type="submit"/>



		</form>

	</div>

{% endblock %}

{% block footer_text %}

	<div class="row">

		<a href="ufc/soup/ronda">Ronda Rousey</a>


		<table id="id_list_table">
        	<tr><td>{{ search_text }}</td></tr>
        	<tr><td>{{ fighter_name }}</td></tr>
    	</table>
	</div>

{% endblock %}